 /* body:{
    color1: #edf6f9;
    color2:#B3E5BE;
    color3:#B3E5BE;
    button1:#008921;
    buttonTextColor:#ffffff;
    color1: #e00a0a;

}


import React from 'react';
import { Button, StatusBar, StyleSheet, ToastAndroid, View } from 'react-native';

const ToastAndroidEg = () => {
    const showToast = () => {
        ToastAndroid.show('A pikachu appeared nearby !', ToastAndroid.SHORT);
    };

   
    return (
        <View>
            <Button title="Toggle Toast" onPress={() => showToast()} />
        </View>
    );
};

const styles = StyleSheet.create({
    container: {
        flex: 1,
        justifyContent: 'center',
        paddingTop: StatusBar.currentHeight,
        backgroundColor: '#888888',
        padding: 8,
    },
});
        ["1st","2nd","3rd","4th","5th","6th","7th"},{label:"8th" , value:"8th"},{label:"9th" , value:"9th"},{label:"10th" , value:"10th"},{label:"11th" , value:"11th"},{label:"12th" , value:"12th"},{label:"13th" , value:"13th"},{label:"14th" , value:"14th"},{label:"15th" , value:"15th"},{label:"16th" , value:"16th"},{label:"17th" , value:"17th"},{label:"18th" , value:"18th"},{label:"19th" , value:"19th"},{label:"20th" , value:"20th"},{label:"21st" , value:"21st"},{label:"22nd" , value:"22nd"},{label:"23rd" , value:"23rd"},{label:"24th" , value:"24th"},{label:"25th" , value:"25th"},{label:"26th" , value:"26th"},{label:"27th" , value:"27th"},{label:"28th" , value:"28th"},{label:"29th" , value:"29th"},{label:"30th" , value:"30th"},{label:"31st" , value:"31st"},{label:"32nd" , value:"32nd"},{label:"33rd" , value:"33rd"},{label:"34th" , value:"34th"},{label:"35th" , value:"35th"},{label:"36th" , value:"36th"},{label:"37th" , value:"37th"},{label:"38th" , value:"38th"},{label:"39th" , value:"39th"},{label:"40th" , value:"40th"},{label:"41st" , value:"41st"},{label:"42nd" , value:"42nd"},{label:"43rd" , value:"43rd"},{label:"44th" , value:"44th"},{label:"45th" , value:"45th"},{label:"46th" , value:"46th"},{label:"47th" , value:"47th"},{label:"48th" , value:"48th"},{label:"49th" , value:"49th"},{label:"50th" , value:"50th"},{label:"51st" , value:"51st"},{label:"52nd" , value:"52nd"},{label:"53rd" , value:"53rd"},{label:"54th" , value:"54th"},{label:"55th" , value:"55th"},{label:"56th" , value:"56th"},{label:"57th" , value:"57th"},{label:"58th" , value:"58th"},{label:"59th" , value:"59th"},{label:"60th" , value:"60th"},{label:"61st" , value:"61st"},{label:"62nd" , value:"62nd"},{label:"63rd" , value:"63rd"},{label:"64th" , value:"64th"},{label:"65th" , value:"65th"},{label:"66th" , value:"66th"},{label:"67th" , value:"67th"},{label:"68th" , value:"68th"},{label:"69th" , value:"69th"},{label:"70th" , value:"70th"},{label:"71st" , value:"71st"},{label:"72nd" , value:"72nd"},{label:"73rd" , value:"73rd"},{label:"74th" , value:"74th"},{label:"75th" , value:"75th"},{label:"76th" , value:"76th"},{label:"77th" , value:"77th"},{label:"78th" , value:"78th"},{label:"79th" , value:"79th"},{label:"80th" , value:"80th"},{label:"81st" , value:"81st"},{label:"82nd" , value:"82nd"},{label:"83rd" , value:"83rd"},{label:"84th" , value:"84th"},{label:"85th" , value:"85th"},{label:"86th" , value:"86th"},{label:"87th" , value:"87th"},{label:"88th" , value:"88th"},{label:"89th" , value:"89th"},{label:"90th" , value:"90th"},{label:"91st" , value:"91st"},{label:"92nd" , value:"92nd"},{label:"93rd" , value:"93rd"},{label:"94th" , value:"94th"},{label:"95th" , value:"95th"},{label:"96th" , value:"96th"},{label:"97th" , value:"97th"},{label:"98th" , value:"98th"},{label:"99th" , value:"99th"},{label:"100th" , value:"100th"},{label:"101st" , value:"101st"},{label:"102nd" , value:"102nd"},{label:"103rd" , value:"103rd"},{label:"104th" , value:"104th"},{label:"105th" , value:"105th"},{label:"106th" , value:"106th"},{label:"107th" , value:"107th"},{label:"108th" , value:"108th"},{label:"109th" , value:"109th"},{label:"110th" , value:"110th"},{label:"111th" , value:"111th"},{label:"112th" , value:"112th"},{label:"113th" , value:"113th"},{label:"114th" , value:"114th"},]

export default ToastAndroidEg;*/


